body{
background-size: cover;
}
body h3{
color: darkblue;
}
.header{
font-size: 20px;
width: 100%;
margin: 0px;
}
#play{
font-size: 15px;
}
#nob.num{
font-size: 13px;
}
#status{
font-size: 18px;
}
.footer{
position: fixed;
color: aliceblue;
background-color: aqua;
bottom: 0;
width: 100%;
line-height: 2px;
text-align: center;
}
canvas{
border: solid 2px darkgrey;
border-radius: 20px;
margin-top: 150px;
}